
$dc-primary: #0282f9;
$dc-dark:#1c1c1c;
$dc-dark-light: #4d5661;
$dc-light: #ffffff;
$dc-banner: #55ba59;
$dc-primary-light: #23b2df;
$dc-primary-dark: #003f5e;

.color_primary_light{
    color: $dc-primary-light;
}

.color_primary_dark{
    color: $dc-primary-dark;
}